*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product{
    height: 40vh;
    background-color: white;
    padding: 10px;
    width: 23.5%;
    height: 80%;
    border: 1px solid lightgray;
    border-radius: 5px;
    /* display: flex; */
    /* justify-content: space-between; */
}
.info__cont{
    border-left: 5px solid #ffce32;
    padding:10px 15px;
    height: 20%;
    margin: 5px auto 10px 0px;
}
.product img{
    margin: auto;
    width: 99%;
    align-items: center;
}
.product__image{
    margin: auto;
    width: 99%;
    align-items: center;

}
.product__name{
    font-size: 14px;
    color: #5c7a7d;
}
.product__price{
    color: #002f34;
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 21px;
    letter-spacing: 2px;
    
}
.product__address{
    font-size: 12px;
    color: #5c7a7d;
    
}
.product__date{
    color: #5c7a7d;
    margin-right:100;
    font-size: 12px;
}
.fresh__cont{
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}